.Internet_Explorer_8 .container {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:1200px;
}
/* Borders instead of dropdown shadows
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Main menu drop-down */
#nav ul.level0,

/* Main menu drop-down (classic style) */
.nav-classic #nav .parent > ul,

/* Mini cart dropdown */
#mini-cart .block-content {
	border:1px solid #e5e5e5;
}


/* Remember Me popup, MAP popup, credit card number */
.remember-me-popup,
.map-popup,
.tool-tip { border:1px solid #e5e5e5; }

/* Edgeboxes */
.edgebox-content .custom-content { border:1px solid #aaa; }


/* Vertical positioning of header elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.v { display:block; }
.v .v-item {
	float:left;
	display:block;
}
.v2 .v-item { width:50%; }
.v3 .v-item { width:32%; }

.v .user-menu { float:right; }
.v .header-top-search-wrapper { margin-top:25px; }