body {
    font-size: 12px;
}
a { color: #6d4023; }
a:hover,
.vertnav li.current > a { color: #c35d2e; }

.header
{
	background: url("../../images/jewelry/bg_top.jpg") repeat-x scroll 0 0 transparent;
	height:156px !important;	
	}
.header a { color:#41220f;
	}
.header a:hover { color:#a55d2f;
	}

#nav ul.level0, 
#nav ul,
#mini-cart .block-content,
.truncated .truncated_full_value .item-options,
.dropdown-button ul
{
			background-color: #F4F4F4;		
			color: #333333;
	}
#nav ul.level1 li a span{ color: #474747; font: 13px Arial,Helvetica,sans-serif; line-height: 40px;}
#nav ul.level1 li a span:HOVER{color:#e38a2e;}

.nav-container .nav ul#nav li.parent a.level-top { background:url("../../images/jewelry/arrow-menu.png") no-repeat scroll 93% center transparent;  }
.nav-container .nav ul#nav li.parent a.level-top:HOVER{border-bottom:5px solid #F4F4F4; background:#F4F4F4; background:#F4F4F4 url("../../images/jewelry/arrow-menu.png") no-repeat scroll 93% center;}

#nav ul li a,
#mini-cart .block-content a,
.dropdown-button ul a, .dropdown-button ul .current
{
			color: #7b4d35;
			font-family: Arial,Helvetica,sans-serif;
			line-height: 29px;
	}
.dropdown-button ul a:hover, .dropdown-button ul .current:hover{cursor: pointer;}
#nav ul li a:hover,
#mini-cart .block-content a:hover,
.dropdown-button ul a:hover
{
			color: #c35d2e;
	}
#mobnav
{
	background-color: #f5f5f5;
    color: #333;
}
#mobnav-trigger
{
	color: #333;
}

#mobnav-trigger:hover
{
	background-color: #9b7069;
	color: #ffffff;
}

#mobnav-trigger.active
{
	background-color: #9b7069;
	color: #ffffff;
}

#mobnav-trigger .icon .line {
	background-color: #333;
}
#mobnav-trigger:hover .icon .line, #mobnav-trigger.active .icon .line{
	background-color: #ffffff;
}
#nav,
.vertnav-top li a, #nav > li > a
{
    color: #333;
}
#nav > li:hover > a,
.vertnav-top li > a:hover
{
	color: #b07069;
	background:#F4F4F4;
	border-top:2px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	border-bottom:0px;
	box-shadow:0 0 6px -1px #d3d0cb;
	
}

.cms-index-index #nav #nav-home-link > a,
#nav > li.active > a,
.vertnav-top li.current > a
{
	border-top:2px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	border-bottom:0px;
	color: #b07069;
	margin-right:1px;
	bacground: #F4F4F4 !important;
	box-shadow:0 0 6px -1px #d3d0cb;
}
.nav > ul >li.active >a{
	background:  #F4F4F4 !important;
}
	#nav > li {  height:46px;margin-right:10px; }
    #nav ul.level0 { top:45px;  }

	.vertnav-top > li.first > a { margin-top:1px; }
	.vertnav-top li a { margin-bottom:1px; }
	.vertnav-top { background-color: #eeeeee; }	

/* Opener: default */
	.vertnav-top li .opener {
		background: url(../../images/img/opener.png) center center no-repeat;
	}
	/* Hover */
		.vertnav-top li:hover > .opener {
			background-image: url(../../images/img/opener-w.png);
		}
		.vertnav-top li:hover > .opener:hover {
			background-image: url(../../images/img/opener.png);
		}

/* Opener: active */
	.vertnav-top li.active > .opener {
		background-image: url(../../images/img/opener-active.png);
	}
	/* Hover */
		.vertnav-top li.active:hover > a:hover + .opener {
			background-image: url(../../images/img/opener-active-w.png);
		}
		.vertnav-top li.active:hover > a + .opener:hover {
			background-image: url(../../images/img/opener-active.png);
		}
	.vertnav-top li.current > .opener,
	.vertnav-top li.current > .opener:hover {
		background-image: url(../../images/img/opener-w.png);
	}
	/* Active */
		.vertnav-top li.active.current > a + .opener,
		.vertnav-top li.active.current:hover > a + .opener {
			background-image: url(../../images/img/opener-active-w.png);
		}
		.vertnav-top li.active.current > a + .opener:hover {
			background-image: url(../../images/img/opener-active-w.png);
		}

.footer-top-container
{
	background:#ebebeb;
	height:45px;

	}
.footer-primary
{
			background-color: #ffffff;
    	
	}
.registered-users .buttons-set span span, .account-create .buttons-set span span{margin:0 12px!important;}
button.button span
{
	background-color: #9b7069;
	border-radius:5px 5px 5px 5px;
	font-weight: bold;
	padding-left:3px;
	padding-right:3px;

}
button.button:hover span{color: #ffffff;}
.product-view .btn-cart span,
button.btn-checkout span
{
	background-color: #9B7069;
	border-radius:5px 5px 5px 5px;	
	color: #ffffff;
}
.product-view .btn-cart:hover span,
button.btn-checkout:hover span
{
	background-color: #7d5954;
	color: #ffffff;
}

.feature div.icon
{
	background-color: #d52462;
}
.feature:hover div.icon
{	
}
.links a:hover {
				color: #fff;
        		cursor: pointer;
    }

.price-box .price { color: #be0e0d; font: 16px Tahoma,Arial,Helvetica,sans-serif; margin-left:10px;  }

.social-links a {
	background-color: #555555;
}
.social-links a:hover {
	background-color: #d52462;
}
h1,
h2,
.section-title,
.products-list .product-name,
.products-grid .product-name,
h3.product-name,

/* Main menu */
#mobnav-trigger,
#nav > li > a,
#nav.wide ul.level0 > li > a,
.vertnav-top li a,

/* Block headings */
.block .block-title,

/* Checkout headings */
#opc-login h3,

/* Account */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,

/* Product page */
.product-view .box-reviews dt .heading,

/* Footer headings */
.footer .heading,

/* Captions */
.slide .caption h2,
.slide .caption h3,

/* Custom content class */
.main-font
{
	font-family: Arial,Tahoma,sans-serif;
}
