<?xml version="1.0"?>
<!--
/**
 * @category	Cmsmart
 * @package		Cmsmart_UltraSlideshow
 * @author		Cmsmart
 * @copyright	Copyright 2012 Cmsmart
 * @version:    1.0.0
 */
-->
<config>
    <modules>
        <Cmsmart_UltraSlideshow>
            <version>1.0.0</version>
        </Cmsmart_UltraSlideshow>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ultraslideshow>
                    <file>cmsmart_ultraslideshow.xml</file>
                </ultraslideshow>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ultraslideshow>
                <class>Cmsmart_UltraSlideshow_Model</class>
            </ultraslideshow>
        </models>
        <blocks>
            <ultraslideshow>
                <class>Cmsmart_UltraSlideshow_Block</class>
            </ultraslideshow>
        </blocks>
        <helpers>
            <ultraslideshow>
                <class>Cmsmart_UltraSlideshow_Helper</class>
            </ultraslideshow>
        </helpers>
    </global>
	<default>
		<ultraslideshow>
			<general>
				<enabled>1</enabled>
				<blocks>block_slide1,block_slide2,block_slide3</blocks>
				<hide>0</hide>
				<height>398px</height>
				<fx>random</fx>
				<timeout>1500</timeout>
				<speed>600</speed>
				<pause>1</pause>
				<loop>1</loop>
				<margin_top></margin_top>
			</general>
			<banners>
				<banners>block_slideshow_banners</banners>
				<position>right</position>
				<hide>1</hide>
			</banners>
		</ultraslideshow>
	</default>
</config>