<?xml version="1.0"?>
<config>
    <sections>
        <ultraslideshow translate="label">
			<label>Slideshow</label>
			<tab>jewelry</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Slideshow</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
						<blocks translate="label">
                            <label>Displayed Slides</label>
							<comment>Comma separated list of static block identifiers. These static blocks will be displayed as slides.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blocks>
						<hide translate="label">
							<label>Hide Slides On Mobile Devices</label>
							<comment>If set to "Yes", slideshow will be hidden on narrow screens. Important: banners can be hidden separately, see options below.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</hide>
						
						<height translate="label">
                            <label>Slider Height</label>
							<comment>default 391px.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
						
						
						<fx translate="label">
							<label>Transition Effect Animation</label>
                            <frontend_type>select</frontend_type>
							<source_model>ultraslideshow/source_fx</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</fx>
												
						<timeout translate="label">
                            <label>Timeout</label>
							<comment>Length of the sliding effect in milliseconds. Note that 1000 miliseconds = 1 second.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </timeout>
						<speed translate="label">
                            <label>Transition Speed</label>
							<comment>Time (in milliseconds) of slide transition animation.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speed>
						
						<margin_top translate="label">
                            <label>Top Margin</label>
							<comment>Additional top margin for the slideshow. You can specify margin to add extra space above the slideshow. Enter negative value to pull the slideshow up.</comment>
                            <frontend_type>text</frontend_type>
							<validate>validate-number</validate>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </margin_top>
						
						<!-- deprecated -->
						<files translate="label">
                            <label>Displayed Images (deprecated)</label>
							<comment>
								<![CDATA[Comma separated list of images (located in the directory specified in <strong>Images Directory</strong> field) which you want to display in the slideshow. E.g.: slide1.png,slide2.jpg,some_image.jpg<br/>
								<strong style="color:#F00;">Deprecated: do not use this option, it will be removed in the next update.</strong>
								]]>
							</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </files>
						<directory translate="label">
                            <label>Images Directory (deprecated)</label>
							<comment>
								<![CDATA[if you want to display simple images (without links or any additional HTML) in the slideshow, specify a path to the directory containing those images. Path is relative to <strong>media</strong> directory. No leading or trailing slashes.<br/>
								<strong style="color:#F00;">Deprecated: do not use this option, it will be removed in the next update.</strong>
								]]>
							</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>910</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </directory>
					</fields>
				</general>
				<banners translate="label">
                    <label>Banners</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<banners translate="label">
                            <label>Banners</label>
							<comment>Identifier of the static block which contains additional banners for the slideshow. Banners will be displayed at the side of the slideshow.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </banners>
						<position translate="label">
							<label>Position of Banners</label>
                            <frontend_type>select</frontend_type>
							<source_model>ultraslideshow/source_banners_position</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</position>
						<hide translate="label">
							<label>Hide Banners On Mobile Devices</label>
							<comment>If set to "Yes", banners will be hidden on narrow screens.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</hide>
					</fields>
				</banners>
            </groups>
        </ultraslideshow>
    </sections>
</config> 